@import url('../css2.css');
*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    color: white;
}
ul.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

ul.navbar-menu li {
    display: inline-block;
    margin: 22px 15px;
}
ul.navbar-menu li a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 20px;
    font-family: 'Poppins';
    margin: 20px 0px 0px 5px;
    color: #FFFFFF;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain; 
}
.header-section {
    position: fixed;
    z-index: 999;
    width: 100%;
}
.hero-image h2 {
    color: #fff;
    font-size: 70px;
    padding: 35px 0 0 0;
}


.hero-image p {
    color: #fff;
    font-size: 16px;
}

.hero-image:after {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: 0.3;
    z-index: -1;
}
/*------------------------------------------------------- 
                code start by joynal 
--------------------------------------------------------*/
.hero-image {
    height: 100vh;
    width: 100vw;
    background: url(assets/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.hero-image img {
    object-fit: cover;
    object-position: bottom;
}
/*------------------------------------------------------- 
                code end by joynal 
--------------------------------------------------------*/
.social-icon li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
h2.about-me-text {
    text-align: center;
    margin: 30px 0px 30px 0px;
    display: inline-block;
    width: 100%;
    padding: 20px 0 33px 0;
}
.about-me {
    background-color: #313131;
    color: white;
    padding: 34px 0 100px 0;
}
.progress {
    background-color: black;
    height: 5px;
}

.progress-bar {
    background-color: white;
}
.my-services {
    background-color: #252525;
    padding: 50px 0 100px 0;
}

.my-services-heading h2 {
    color: white;
    text-align: center;
    padding: 0 0 0px 0;
    padding: 0px 0 0px 0;
}
.my-portfolio {
    background-color: #3C3C3C;
    padding: 50px 0 100px 0;
}
.my-portfolio-heading {
    text-align: center;
    padding: 30px 0 60px 0px;
}
.contact {
    background-color: #313131;
    padding: 0 0 120px 0px;
}

.contact-heading {
    text-align: center;
    padding: 80px 0 40px 0;
}
.my-contact-details {
    background-color: #3C3C3C;
    padding: 30px 0 15px 0px;
}
.my-contact-details .container .row {
    text-align: center;
}
.footer {
    background-color: black;
    text-align: center;
    padding: 30px 0 15px 0;
}

.footer-text p {
    color: lightgray;
}
.my-contact-details .container .row .col-lg-4 h4 {
    padding: 0px 0 0px 0px;
    margin: 6px 0 -3px 0;
}
.my-contact-details .container .row .col-lg-4 p{
    color: #EDEDED;
}
input#name {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 12px 20px;
}
input#email {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 12px 20px;
}

input#mobile {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 12px 20px;
}

input#subject {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 12px 20px;
}
input#message {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 91px 25px;
}
button.btn-lrg.submit-btn {
    color: #232323;
    display: inline-block;
    border-radius: 37px;
    padding: 7px 35px;
    font-size: 18px;
    cursor: pointer;
}
.my-services-heading {
    padding: 5px 0 25px 0;
}
.header-section.scrolled {
    background: #000000e3;
}